extends layout 

block content

    div.container
        h2 Organizer Profile
        hr
        p #[strong Name: ] #{organizer.name}
        p #[strong Email: ] #{organizer.email}
        p #[strong Contact: ] #{organizer.phone}