* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: goldenrod;
  transition: all 0.2s ease;
}

a:hover {
  color: gold;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  box-shadow: 0 .3rem 1rem rgba(0,0,0,.1);
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  color: goldenrod;
  position: relative;
}

.nav .title {
  position: absolute;
  left: 1rem;
}

.nav .nav-container {
  display: flex;
  margin: 0 auto;
}


.nav-container .nav-link {
  margin: 0 1rem;
}

.nav-link a {
  font-size: 16px;
  color: rgb(235, 173, 15);
  position: relative;
}

.nav-link a:hover {
  color: black;
}

.nav-link:hover > .drop-down {
  display: block !important;
}


.drop-down {
  position: absolute;
  top: 1.2rem;
  padding: 0.5rem;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,.1);
  display: none;
}

.drop-down .nested-link {
  margin: 0.5rem auto;
}

.nested-link a {
  color: black;
}

.nested-link a:hover {
  color: goldenrod;
}

.sub-title {
  text-align: center;
  margin: 1rem;
}

/* FORM */
form.create-form {
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  padding: 1rem;
  /* rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin: 1rem auto;
}

form .input-box {
  width: 100%;
  display: flex;
  flex-flow: column;
}

form .input-box label {
  margin: 0.5rem 0;
  font-size: 16px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.7);
}

form .input-box input {
  padding: 0.5rem;
  background-color: #eee;
  border: none;
  border-radius: 5px;
}

form .input-box textarea {
  padding: 1rem;
  height: 3.5rem;
  background-color: #eee;
  border: none;
  border-radius: 5px;
}

.container {
  padding: 1rem;
}

.container hr {
  background-color: gold;
  height: 0.2rem;
  border: none;
  outline: none;
}

.container h2 {
  margin: 1rem 0;
}

.container p {
  margin: 1rem 0;
}

.container ul {
  list-style-type:square;
  padding: 1rem 2rem;
}

.container ul li {
  margin: 1rem 0;
}

.container select{
  padding: 0.5rem;
  border-radius: 10px;
}

.container select option {
  padding: 0.3rem;
}

.btn {
  background-color: goldenrod;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 1rem 0;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: white;
  color: goldenrod;
  border: 1px solid goldenrod;
}

.btn-container {
  display: flex;
  width: 8rem;
  justify-content: space-between;
}